
/*Components:button*/

//Base
.button {
    padding: 10px 20px;
    font-family: $roboto;
    font-size: $medium;
    font-weight: $font-regular;
}
//Button Scheme
.medium_button, .small_button {
    color: $white;
    border-radius: 50px 50px;
    background-color: $nickel;

    &:hover {
        background-color: $platinum;
    }
    &:focus {
        border-color: 20px solid $platinum;
        background-color: $nickel;
    }
}