.pagination-section {
    background-color: $platinum;
}
//Base
//Normal Size
.text-section__pagination {
    padding: 1em;
    font-family: $roboto;
    font-size: $small;
    font-weight: $font-regular;
    
  
    .active {
        color: $white;
        background-color: $nickel;
    }
    &:hover {
        background-color: $platinum;
        color: $eerie-black;
    }
    &:focus {
        border-color: 20px solid $platinum;
        background-color: $nickel;
    }
  
}

//Small Size
@media (min-width: 576px) { 
.text-section__pagination {
    font-size: $medium;

    }
}


