.left-border {
    background-color: $raisin-black;
    border-radius: 30px;
    font-size: $x-small;
    color: $white;

    &:hover {
        color: $raisin-black;
        background-color: $platinum;
    }
    
}