
.article-section__date {
    font-family: $playfair;
    font-size: $medium;
    font-weight: $font-regular;
    color: $nickel;
}
.article-section__texts {
    font-family: $roboto;
    font-size: $font-light;
    font-weight: $font-regular;
    color: $nickel;
    text-align: justify;
}