
.contact__social {
    display: inline-block;
}
 a {
    color: $spanish-pink;
}
.contact__web {
    display: inline-block;
}
.contact__img {
    width: 100%;
}
.contact__image {
    width: 200px;
    margin: 0 auto;
}
.margen {
    margin-top: -20px;
}
