
 //Normal Size Image
 .img-thumbnail {
        width: 240px;
        margin: 0 auto;
        .margen {
            margin-top: -20px;
        }
    }

//Small Size Image
@media (min-width: 576px) { 

    ..img-thumbnail {
        width: 120px;
        margin: 0 auto;
    
    }
}

 //State texts
.contact__social, .contact__web {
    color: $spanish-pink;
    font-family: $roboto;
    font-size: $large;
    font-weight: $font-light;

    &:active {
        color: $platinum;
    }
    &:hover {
        color: $raisin-black;
    }
}
p {
    color: $raisin-black;
    font-family: $roboto;
    font-size: $small;
    font-weight: $font-regular;

}
h3 {
    font-family: $playfair;
    font-size: $x-large;
    font-weight: $font-black-italic;
}